@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif+Display:wght@400;500;600;700;800;900&display=swap");

.navbar {
  background-color: rgba(0, 0, 0, 0.219);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.219);
}

.hero {
  background: #261c15 url("../assets/heroN.png") no-repeat fixed center/cover;
  min-height: 100vh;
}

.hero-content {
  min-height: 100vh;
}

.caption {
  font-family: "Noto Serif Display", serif;
  font-size: 3.7em;
  font-weight: 800;
  color: rgb(235, 222, 222);
  width: 30vw;
}

.navbar-brand {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  font-weight: 600;
  color: rgb(212, 212, 212);
}

.order-now {
  color: rgb(212, 212, 212);
  background-color: #e9551b;
  font-weight: 700;
  font-size: 1.2em;
  max-width: 20vw;
}

.order-now:hover {
  color: rgb(212, 212, 212);
  background-color: #eb6b39;
}

h2::first-letter {
  color: #e9551b;
}

.services h2:first-of-type {
  padding-bottom: 5vh;
}

section {
  padding-top: 11vh;
  padding-bottom: 11vh;
}

.services-content {
  padding-top: 5vh;
  padding-bottom: 5vh;
  cursor: pointer;
}

.menu {
  background: #e4e6c3 url("../assets/bgMenu.jpg") no-repeat fixed center/cover;
  min-height: 100vh;
}

.table {
  max-width: 30em;
  padding: 3em;
  color: #ffffff;
  border-color: #f59999;
  font-family: "Dancing Script", cursive;
}
